:root {
    --accent-color: #2196F3;
    --hover-hero-button: #188CE8;
    --accent-opacity-color: rgba(33, 150, 243, 0.9);
    --primary-white-color: #FFFFFF;
    --title-color: #212121;
    --text-color: #757575;
    --bg-color: #2F303A;
    --section-bg-color: #F5F4FA;
    --border-color: #EEEEEE;
    --primary-black-color: #000000;
    --header-border-color: #ECECEC;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --footer-bg-link: rgba(255, 255, 255, 0.1);
    --hero-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --filter-buttons-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    --gradient-color: rgba(47, 48, 58, 0.4);
    --label-bg-color: rgba(47, 48, 58, 0.8);
    --hero-bg-color: #C4C4C4;
    --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    --icon-color: #AFB1B8;
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --close-button-color: rgba(0, 0, 0, 0.1);
    --input-border-color: rgba(33, 33, 33, 0.2);
    --footer-input-border-color: rgba(255, 255, 255, 0.3);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--text-color);
    background-color: var(--primary-white-color);
}

h1, h2, h3, p, ul {
    margin: 0;
}

img {
    display: block;
}

input,
textarea {
    outline: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section.no-padding {
    padding-top: 0;
}

/* Обнулення стилів для посилань та списків */

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding-inline-start: unset;
}

/* Сховані заголовки */

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Лого стилі */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    text-decoration: none;

    color: var(--accent-color);
}

.logo-header {
    color: var(--primary-black-color);
}

.logo-footer {
    color: var(--primary-white-color);
}

/* Header & Footer стилі */

.main-border {
    border-bottom: 1px solid var(--header-border-color);
}

.main-nav {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
} 

.nav-link {
    display: flex;
    margin-left: 94px;
}

.nav-link-item,
.header-contact-item {
    margin-right: 50px;
}

.nav-link-item:last-child,
.header-contact-item:last-child {
    margin-right: 0;
}

.header-contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-link {
    display: block;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-color);

    text-decoration: none;

    transition: color var(--duration) var(--timing-function);
}

.current,
.header-link:hover,
.header-link:focus,
.footer-address:hover,
.footer-address:focus,
.footer-email:hover,
.footer-email:focus,
.footer-phone:hover,
.footer-phone:focus {
    color: var(--accent-color);
}

.current {
    position: relative;
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.header-email,
.header-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-color);
    fill: var(--text-color);
    text-decoration: none;

    transition: color var(--duration) var(--timing-function),
    fill var(--duration) var(--timing-function);
}

.header-email:hover,
.header-email:focus,
.header-phone:hover,
.header-phone:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
}

.header-icon {
    margin-right: 10px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg-color);
}

.wrapper {
    display: flex;
    align-items: baseline;
}

.address-section {
    margin-right: 70px;
}

#contacts {
    margin-top: 20px;
}

.footer-contact {
    margin-bottom: 9px;
}

.footer-contact:last-child {
    margin-bottom: 0;
}

.footer-address {
    font-style: normal;

    color: var(--primary-white-color);

    transition: color var(--duration) var(--timing-function);
}

.footer-email,
.footer-phone {
    font-style: normal;

    color: var(--footer-contact-color);

    transition: color var(--duration) var(--timing-function);
}

.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.footer-list {
    display: flex;
    column-gap: 10px;
}

.footer-link {
    display: flex;
    height: 44px;
    width: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--primary-white-color);
    background-color: var(--footer-bg-link);

    transition: background-color var(--duration) var(--timing-function);
}

.footer-link:hover,
.footer-link:focus {
    background-color: var(--accent-color);
}

.footer-icon {
    fill: inherit;
}

.footer-form {
    margin-left: auto;
}

.submit-form input {
    width: 358px;
    margin-right: 12px;
    padding: 15px 16px;
    background-color: var(--bg-color);
    border: 1px solid var(--footer-input-border-color);
    box-shadow: var(--hero-button-shadow);
    border-radius: 4px;
}

.footer-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    fill: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: var(--hero-button-shadow);
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
}

.icon-send {
    margin-left: 10px;
}

/* Hero стилі */

.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    background-color: var(--hero-bg-color);
    background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.hero-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);

    padding: 10px 32px;
    border-width: 0;
    border-radius: 4px;
    cursor: pointer;
    
    background-color: var(--accent-color);

    transition: box-shadow var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
    box-shadow: var(--hero-button-shadow);
    background-color: var(--hover-hero-button);
}

/* Стилі модального вікна */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);

    opacity: 1;
    transition: opacity var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--primary-white-color);
    box-shadow: var(--team-card-shadow);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--duration) var(--timing-function);
}

.button-close {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;

    fill: var(--primary-black-color);
    border-radius: 50%;
    background: var(--primary-white-color);
    border: 1px solid var(--close-button-color);
    cursor: pointer;

    transition: fill var(--duration) var(--timing-function);
}

.button-close:hover,
.button-close:focus {
    fill: var(--accent-color);
}

.icon-close {
    fill: inherit;
}

/* Стилі форми модального вікна */

.modal-form {
    width: 100%;
    outline: 1px solid red;
}

.modal-form p {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-color);
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-field label {
    margin-bottom: 4px;
    text-align: left;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.form-field input {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    transition: border-color var(--duration) var(--timing-function);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: var(--title-color);
    transition: fill var(--duration) var(--timing-function);
}

.form-field:focus-within > .modal-icon {
    fill: var(--accent-color);
}

.form-field:focus-within > input {
    border-color: var(--accent-color);
}

.form-comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-comment label {
    margin-bottom: 4px;
    text-align: left;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.form-comment textarea {
    padding: 12px 16px;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    transition: border-color var(--duration) var(--timing-function);
}

.form-comment:focus-within textarea {
    border-color: var(--accent-color);
}

.form-checkbox {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.policy {
    display: flex;
    align-items: center;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid var(--title-color);
    border-radius: 2px;
    cursor: pointer;
}

.checkbox:checked + .icon-checkbox {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
}

.policy-link {
    color: var(--accent-color);
}

.modal-button {
    padding: 10px 52px;
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background: var(--accent-color);
    box-shadow: var(--hero-button-shadow);
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    transition: background-color var(--duration) var(--timing-function);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--hover-hero-button);
}

/* Студія стилі */

.features,
.work {
    background-color: inherit;
}

.features-wrapper {
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--section-bg-color);
}

.features-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--title-color);
}

.features-list {
    display: flex;
    column-gap: 30px;
}

.features-card {
    flex-basis: calc((100% - 90px) / 4);
}

.work-list {
    display: flex;
    column-gap: 30px;
}

.work-card {
    flex-basis: calc((100% - 60px) / 3);
}

.img-box {
    position: relative;
    z-index: -1;
}

.label {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: var(--primary-white-color);
    background-color: var(--label-bg-color);
}

.work-title,
.team-title,
.clients-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    color: var(--title-color);
}

.section.team {
    background-color: var(--section-bg-color);
}

.team-list {
    display: flex;
    column-gap: 30px;
}

.team-card {
    flex-basis: calc((100% - 90px) / 4);

    box-shadow: var(--team-card-shadow);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);
}

.team-photo {
    margin-bottom: 30px;
}

.team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;

    color: var(--title-color);
}

.team-position {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;

    color: var(--text-color);
}

.social-list {
    margin-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    column-gap: 10px;
}

.social-link {
    display: flex;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
    
    transition: background-color var(--duration) var(--timing-function),
    fill var(--duration) var(--timing-function);
}

.social-link:hover,
.social-link:focus {
    fill: var(--primary-white-color);
    background-color: var(--accent-color);
}

.social-icon {
    fill: inherit;
}

.client-list {
    display: flex;
    column-gap: 30px;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 170px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);
    transition: fill var(--duration) var(--timing-function),
    border var(--duration) var(--timing-function);
}

.client-link:hover,
.client-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.client-icon {
    fill: inherit;
}

/* Портфоліо стилі */

.button-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.button-list-item {
    margin-right: 8px;
}

.button-list-item:last-child {
    margin-right: 0;
}

.filter-buttons {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    padding: 6px 22px;

    border-width: 0;
    color: var(--title-color);
    background-color: var(--section-bg-color);

    border-radius: 4px;
    cursor: pointer;

    transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.filter-buttons:hover,
.filter-buttons:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: var(--filter-buttons-shadow);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-card {
    flex-basis: calc((100% / 3) - 60px);
    background-color: var(--primary-white-color);
}

.portfolio-link {
    display: block;
    transition: box-shadow var(--duration) var(--timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: var(--portfolio-card-shadow);
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;

    color: var(--primary-white-color);
    background-color: var(--accent-opacity-color);

    transform: translatey(100%);
    transition: transform var(--duration) var(--timing-function);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
    transform: translatey(0);
}

.portfolio-content {
    padding: 20px 24px;

    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.portfolio-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.9;

    color: var(--text-color);
}